.Main {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

.Header {
  text-align: center;
}

.Login, .SignUp {
  text-align: center;
}

.HomeList {
  text-align: left;
  padding-left: 14em;
  list-style-type: none;
}

.NewEvent form {
  text-align: left;
  padding-left: 14em;
}

.Footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  margin: 1em 0 0 0;
  padding: .25em;
}
