body {
  font-family: 'Fira Sans', sans-serif;
    min-width: 500px;
}

a {
  color: #138A86;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  padding-bottom: .5em;
  border-bottom: thin solid;
}

select {
  font-family: inherit;
}

button,
input[type="submit"] {
  font-size: 100%;
  font-family: inherit;
  line-height: 1.5em;
  padding: .25em;
  margin: .25em;
  border-radius: 3px;
  text-align: center;
}

button:hover,
input[type="submit"]:hover {
  font-weight: bold;
  color: #138A86;
}

.Main {
  text-align: center;
  background-color: #F2F2F2;
  opacity: 93%;
  width: 60%;
  margin: 0 auto;
  padding: .5em 3em 2em 3em;
  border-radius: 5px;
  border: thin solid;
}

.Header {
  text-align: center;
  color: #138A86;
  padding: 1em;
}

.Home,
.LearningLog,
.NewEvent,
.AccountProfile,
.Login,
.SignUp {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1em;
}

.LearningList, .NewEvent form, .AccountProfile form {
  text-align: left;
  margin: 0 auto;
  list-style-type: none;
  line-height: 1.5em;
}

.AccountProfile form {
  line-height: 2em;
}

.Signin {
  border: thin solid;
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #F2F2F2;
  opacity: 93%;
}

.Login form,
.SignUp form {
  text-align: left;
  font-size: 1.15em;
  margin: 0 auto;
  line-height: 1.5em;
}

.Login input,
.SignUp input,
.SignUp select,
.AccountProfile select,
.AccountProfile textarea {
  margin: .5em;
  line-height: 1.25em;
}

.Login h2, .SignUp h2 {
  border: none;
}

.Footer {
  text-align: center;
  color: #138A86;
  margin: 1em 0 0 0;
  padding: .25em;
}

.ProfileMenu {
  position: absolute;
  top: 3%;
  right: 20%;
  background-color: #F2F2F2;
  border: thin solid gray;
  border-radius: 5px;
  padding: .5em;
}

.TopNav {
  display: flex;
  clear: right;
  justify-content: center;
}

.Avatar {
  border-radius: 2px;
  width: 3em;
}
